<h1>Here are your messages, <span id="currentUser" value="">{{currentUser}}</span>!</h1>

{{#each messages}}
    <div class="container">
        {{#if avatarURL}}<img src="{{avatarURL}}">{{/if}}
        <p class="username">{{username}}</p>
        {{#if message}}<p class="message">{{message}}</p>{{/if}}
        <button class="btn btn-primary replyButton">Reply</button>
        <button class="btn btn-danger deleteButton" id="{{id}}" >Delete</button>
    </div>
    <br>
{{/each}}

<button class="btn btn-primary" id="returnButton">Return To Profile</button>

<script type="text/javascript" src="/assets/js/messages.js"></script>