<h1>Bello, {{username}}!</h1>

<h2>{{personalStatement}}</h2>

<ul class="hobby-list">
    <li>{{hobby1id}}</li>
    <li>{{hobby2id}}</li>
    <li>{{hobby3id}}</li>
</ul>

{{! List of Minion connections for user}}
<h3>Check out your Minion connections!</h3>

<ul class="connections-list">
    <li>{{connection1id}}</li>
    <li>{{connection2id}}</li>
    <li>{{connection3id}}</li>
</ul>